@model AplicacaoWebMvc.Models.ViewModels.PessoaFormViewModel
@{
    ViewData["Title"] = "Cadastrar nova pessoa";
}

<h3>@ViewData["Title"]</h3>

<hr />
<!-- Botão para acionar modal -->

<button type="button" class="btn btn-light disabled" data-toggle="modal" data-target="#">
    Verificar antes!
</button>

<!-- Modal -->
<div class="modal fade" id="ModalConfirmacao" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br />
                <br />
                <h3 class="modal-title text-center" id="TituloModalCentralizado">CONFIRMAÇÃO!</h3>
            </div>
            <div class="modal-body">
                <span class="text-danger">
                    Gostaria de verificar se a Pessoa já está cadastrada?
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                    Sim
                </button>
                <a asp-action="Create" class="btn btn-default">Não</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />



<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div class="form-group">
                <label asp-for="Pessoa.Nome" class="control-label"></label>
                <input asp-for="Pessoa.Nome" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Pessoa.Email" class="control-label"></label>
                <input asp-for="Pessoa.Email" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Pessoa.DataDeNascimento" class="control-label"></label>
                <input asp-for="Pessoa.DataDeNascimento" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Pessoa.CPF" class="control-label"></label>
                <input asp-for="Pessoa.CPF" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Pessoa.EstadoCivil" class="control-label"></label>
                <select  asp-for="Pessoa.EstadoCivil" class="form-control" id="EstadoCivil">
                    <option value="0"> Solteiro</option>
                    <option value="1"> Casado</option>
                    <option value="2"> Viuvo</option>
                    <option value="3"> Divorciado</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Pessoa.FicharioId" class="control-label"></label>
                <select asp-for="Pessoa.FicharioId" class="form-control" asp-items="@(new SelectList(Model.Ficharios, "FicharioId", "Nome"))"></select>
            </div>
     
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-success" />
                <a class="btn btn-default" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

