@{
    ViewData["Title"] = "Informações";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <h4><i><b>Capela Nossa Senhora Medianeira de Todas as Graças</b></i></h4>
        <p><b>Matriz Paroquial: Nsa Sra Medianeira de Todas as Graças (Bairro Novo Terceiro):</b></p>
        <p><b>Horários das Missas</b></p>
        <ul>
            <li>Segunda à Sábado : Missa às 06h00</li>
            <li>Na 1ª Terça feira: Missa às 19h30</li>
            <li>Toda Quinta feira: Missa às 15h00</li>
            <li>Toda Sexta feira: Missa às 19h30</li>
            <li>Domingo: 7h00 e 19h00.</li>
        </ul>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15370.458706585943!2d-56.13324710000001!3d-15.612222900000011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfa3560641c698f09!2sCapela%20Nossa%20Senhora%20Medianeira%20de%20Todas%20as%20Gra%C3%A7as!5e0!3m2!1sen!2sbr!4v1583808322721!5m2!1sen!2sbr" width="500" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <div class="col-md-6">
        <h4>Comunidades</h4>
        <ul>
            <li>
                Comunidade São José (Bairro Coophamil):
                <ul>
                    <li>Quarta feira às 19h30</li>
                    <li>Sábado às 19h00</li>
                    <li>Domingo às 19h00</li>
                </ul>
            </li>
            <li>
                Comunidade Santa Isabel (Bairro Santa Isabel):
                <ul>
                    <li>Quinta feira às 19h00</li>
                    <li>Domingo 07h30 e 17h00</li>
                </ul>
            </li>
            <li>
                Comunidade Nsa Sra do Perpértuo Socorro (Santa Amália):

                <ul>
                    <li>Segunda feira às 19h30</li>
                    <li>Quarta feira às 19h30</li>
                    <li>Domingo às 09h00</li>
                </ul>

            </li>
            <li>
                Comunidade São Benedito do Pari (Barra do Pari):
                <ul>
                    <li>1º Sábado às 09h00</li>
                </ul>
            </li>
            <li>
                Comunidade São Benedito (Bairro São Benedito):
                <ul>
                    <li>Terça feira às 19h00</li>
                    <li>Sábado às 18h00</li>
                </ul>
            </li>
            <li>
                Comunidade São Francisco de Assis  (jardim Araça)
                <ul>
                    <li>Sábado às 19h00</li>
                </ul>
            </li>
            <li>
                Comunidade Nossa Senhora Fátima (Bairro Santa Isabel)
                <ul>
                    <li>Segunda feira às 18h00</li>
                    <li>Sábado às 17h00</li>
                </ul>
            </li>
            <li>
                Comunidade São João Batista (Bairro Cidade Verde)

                <ul>
                    <li>Domingo às 10h00</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
