@{
    ViewData["Title"] = "Contatos";
}
<h2>@ViewData["Title"]</h2>

<address>
    Lucas André L. Cruz<br />
    Cuiabá - MT<br />
    <abbr title="Phone">Fone: (65) 9.9318-6561</abbr>
    
</address>
<address>
    <strong>Support:</strong> <a href="mailto:lucasandre956@gmail.com">lucasandre956@gmail.com</a><br />
</address>
